.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
    height: 150px;
}

.timer button {
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    width: 150px;
    margin: 0 10px;
}

.timer button:hover {
    background-color: blue;
    cursor: pointer;
}